<html>
    <head>

        <!-- META TAGS -->
        <meta lang="PL"/>
        <meta charset="UTF-8"/>
        <meta name="description" content="" />
        <meta name="author" content="Bartosz Studnik, Kacper Mandla" />
        <meta name="keywords" content="" />
        
        <!-- CSS STYLESHEET -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}" />
        
        <!-- FONTS -->
       <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        
        <!-- DESCRIPTION -->
        <title>Uzależnienia</title>
        
        <!-- SCRIPTY -->
        
        <!-- KOLORY
            #ffffff
            #ffa700
        -->
    </head>
    <body>
        <br><br><br><br><br>
        <h1> {{ const[session['lang']].error_500 }}</h1>
        <h2> {{ const[session['lang']].error_500_content }} </h2><br>
        <h2> {{ const[session['lang']].error_admin_has_been_notified }} </h2><br>
        <h3><a href="index"> Wróć > </a></h3>
    </body>
</html>