<div class="menubok">
    <h1>{{ const[session['lang']].admin_panel }}</h1>
    <ul>
        <li><a href="/admin/menu">{{ const[session['lang']].menu }}</a></li>
        <li><a href="/admin/submenu">{{ const[session['lang']].submenu }}</a></li>
        <li><a href="/admin/page">{{ const[session['lang']].page }}</a></li>
        <li><a href="/admin/quiz">{{ const[session['lang']].quiz }}</a></li>
        <li><a href="/admin/quiz/question">{{ const[session['lang']].quiz_question }}</a></li>
        <li><a href="/admin/quiz/answer">{{ const[session['lang']].quiz_answer }}</a></li>
    </ul>
</div>
