<section id="content2">
    <div class="center">
        <div id="kontakt">
        <h1>{{ const[session['lang']].contact }}</h1>
            <ul>
                <li>wellski15@gmail.com</li>
                <li>kacpermandla@gmail.com</li>
            </ul>
        </div>
        <div id="autorzy">
            <h1>{{ const[session['lang']].authors }}</h1>
            <ul>
                <li>Bartosz Studnik</li>
                <li>Kacper Mandla</li>
            </ul>
        </div>
    </div>
</section>